main {
    display: flex;
    flex-direction: column;
}

.main-section {
    margin-top: 100px;
    background-color: rgb(44, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    img {
        width: 700px;
        margin: 40px 0 40px 0;
        border-radius: 10px;
        box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
    }

    span {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
    }

    h1 {
        
        
        font-size: 72px;
        font-weight: 900;
        color: #0F172A;
        font-family: "Montserrat", sans-serif;
    }
}

.benefit-section {
    background-color: #3d8bff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #0F172A;

    .benefit-data {
        border-right: 10px solid #ffffff;
        padding: 0 10px;
        margin: 40px 20px;

        h2 {
            text-align: center;
            font-size: 60px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
        }
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-style: italic;
        font-weight: 300;

        b { 
            font-family: "Montserrat", sans-serif;
            font-style: normal;
        }
    }  
}

.cta-section {
    background-color: #3d8bff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 40px 0;
}

@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }

    .benefit-data {
        flex-direction: row;
    }
}