<section class="form-section">
    <div class="text">
        <h3>
            Matricule-se na FAESA
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus error facilis odit, laborum id beatae fugiat sapiente veritatis? Amet unde saepe natus ea odio. Recusandae, reprehenderit. Consectetur illum commodi quisquam?
        </p>
    </div>
    <form>
        <label>Nome</label>
        <input>
        <label>Email</label>
        <input>
        <label>Telefone</label>
        <input>
        <label>Mensagem</label>
        <input>
        <btn-primary variant="secondary"></btn-primary>
    </form>
</section>

